@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.p1 {
    margin: 1rem;
    padding: 1rem;
    line-height: 1.8;
}